*, ::after, ::before {
    box-sizing:         border-box;
    padding:            0px;
    margin:             0px;
    
}
@font-face {
    src:                url('./images/Botera-Regular.otf');
    font-family:        'Botera';
}
:root {
    
    --texte_police:     'Botera';
    --texte_size:       1.2rem;
    
    --color_1:          #0f0f0f;
    --color_2:          #f0f0f0d9;
    --color_3:          #1dd1a1;
    --color_4:          #8395a7;
}

html {
    scroll-behavior:    smooth;
    user-select:        none;
    letter-spacing:     1px;
    font-family:        var(--texte_police), Arial, Helvetica, sans-serif;
    font-size:          var(--texte_size);
    
}
body{
    color:              var(--color_1);
    background-color:   var(--color_4);

    width:              100%;
    padding:            1%;    

    display:            flex;
    justify-content:    center;
    align-items:        center;
    flex-wrap:          wrap;
}
p.message_bienvenue {
    color:              var(--color_3);
    font-size:          1.5rem;
}
summary {
    font-size: calc(0.8 * var(--texte_size));
}

.right_section, .left_section {
    width:              100%;
    margin-top:         1%;
    border:             1px solid black;
    padding:            1%;
}

h1 {
    background-color:   var(--color_3);
    color:              var(--color_2);
    width:              100%;
    padding:            1%;
    text-align:         center;
    font-size:          calc(1.2*var(--texte_size));
}

ol {
    margin-left: 3%;
}

.rules {
    font-size:          calc(0.8*var(--texte_size));
}

input {
    font-size:          calc(0.8*var(--texte_size));
    padding:            1%;
    min-width:          100%;
    height:             auto;
}
.lenght_input {
    min-width:          auto;
    height:             auto;
}
/* ------------------------------------------------------------------------------------ */
/* PAGE RESULTAT ECRAN */
/* ------------------------------------------------------------------------------------ */
div.menu_liens {
    width: 100%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.menu_liens a {
    background-color: var(--color_3);
    color: var(--color_1);
    padding: 1%;
    margin: 0 1% 0 0;
    text-decoration: none;
    opacity: 75%;
}

div.menu_liens a:hover {
    color: var(--color_2);
    opacity: 100%;

}
.grid_resultat {
    display:                grid;
    grid-template-columns:  1fr;
    grid-template-rows:     repeat(auto, 1fr);
    grid-column-gap:        5px;
    grid-row-gap:           5px;
    border-bottom:          solid 1px black;
}

div.entete {
    width:                  100%;
    padding:                1%;
    margin:                 1% 0 5% 0;
    border:                 1px black solid;
    text-align:             center;
}

/* DIV avec le fond de couleur */
/* P. le numéro */
/* IMG. l'image de la pierre */
section div.fond_couleur_pierre {
    width:                  150px;
    height:                 150px;

}
section p.firstLetter::first-letter {
    display:                block;
    font-size:              4rem;
    color:                  var(--color_2);
    padding:                10px 0px 0px 10px;
}
section img.image_position_pierre {
    width:                  150px;
    position:               relative;
    transform:              translate(35%,-25%);
}
section div > p:nth-child(1) {
    margin-top:             5%;
}
section div > p:nth-child(2) {
    font-weight:            bold;
    font-size:              calc(1*var(--texte_size));
}
section div > p:nth-child(3) {
    margin-bottom:          5%;
}


/***********************/
/* MEDIA QUERIES < 950 */
/***********************/

@media screen and (min-width:950px) {
    :root{
        --texte_size:           1.3rem;
    }
    body {
        width:                  80%;
        margin:                 0 auto;
    }
}

/******************************/
/* MEDIA QUERIES > 950 < 1350 */
/******************************/
@media screen and (min-width:1350px) {
    :root{
        --texte_size:          1.4rem;
    }
    body {
        width:                  80%;
        margin:                 0 auto;
    }
    div.menu_liens {
        margin-bottom: 1%;
    }
    .left_section {
        width: 40%;
        border: none;
        border-right: 1px solid black;
    }
    .right_section {
        border: none;

        width: 60%;
    }
    .grid_resultat {
        display:                grid;
        grid-template-columns:  0.3fr 0.7fr;
        grid-template-rows:     1fr;
        grid-column-gap:        5px;
        grid-row-gap:           5px;
        align-items:            center;
        justify-items:          center;
    }
    section div:nth-child(1) {
        grid-column:            1/2;
        grid-row:               1/2;
    }
    section div:nth-child(2) {
        grid-column:            2/3;
        grid-row:               1/2;
        padding-left:           1%;
    }
}

/************************/
/* MEDIA QUERIES > 1650 */
/************************/
@media screen and (min-width:1650px) {
    :root{
        --texte_size:           1.5rem;
    }
    body {
        width:                  70%;
        margin:                 0 auto;
    }
}